[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
pandas = "*"
neo4j = "*"
seaborn = "*"
python-dotenv = "*"
networkx = "*"
torch-geometric = "*"
torch = "*"
torchvision = "*"
numpy = "<2.0"
scipy = "*"
d4rl = {ref = "master", git = "git+https://github.com/Farama-Foundation/d4rl"}
mujoco-py = "<2.2,>=2.1"
pyrallis = "*"
wandb = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.10"
