[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
pandas = "*"
neo4j = "*"
seaborn = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
